{% extends "layout/layout.html" %}
 {% block body %}

<div class="row">
    <div class="col-12 col-md-8">

        <form class="form-inline" action="{{ constant('URL') }}employees/filter" method="POST">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <select class="form-control form-control-sm" name="departments" required onchange="this.form.submit()">
                        <option value=""> Filter By Department </option>
                        {% for department in departments %}
                        <option value="{{department.department_id}}">{{department.department_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>         
    </div>
    <div class="col-6 col-md-4">
        <form class="form-inline float-right" action="{{ constant('URL') }}employees/search/?page={{page}}" method="POST">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control form-control-sm" name="employee_name" placeholder="Search Employee" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2 btn-sm">Search</button>
        </form>
    </div>
</div>


<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Department</td>
            <td>Job</td>
            <td class="text-center">Action</td>
        </tr>
	</thead>
	<tbody>
		{% for employee in employees %}
	 <tr>
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}&nbsp;{{employee.last_name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.department_name}}</td>
        <td>{{employee.job_title}}</td>
        
        <td class="text-center"><a href="{{ constant('URL') }}employees/profile/{{employee.employee_id}}?page={{page}}">Show</a>&nbsp;        
        <a href="{{ constant('URL') }}employees/edit/{{employee.employee_id}}?page={{page}}">Edit</a></td>

    </tr>
{% endfor %}
</tbody>
</table>

<nav aria-label="..." class="">
    <ul class="pagination pagination-sm justify-content-center">
    	{% for i in 1..pages %}
    	<li class="page-item">
    		{% if page == i %}
    		<a href="?page={{i}}" class="page-link selected-link">{{i}}</a>
    		{% else %}
    		<a href="?page={{i}}" class="page-link">{{i}}</a>
    		{% endif %}
    	</li>
    	{% endfor %}
    </ul>
</nav>

{% endblock %}